


<nav class="navbar navbar-expand-lg bg-dark text-primary display-inline" style="margin-right: 0px;">
    <li class="nav-link" routerLink="register" routerLinkActive="active" style="margin-right: 20px;">REGISTER</li>

    <li class="nav-link" routerLink="login" routerLinkActive="active" style="margin-right: 20px;">LOGIN</li>


    <li class="nav-link" routerLink="user-profile" routerLinkActive="active" style="margin-right: 20px;">USER PROFILE</li>

</nav>

<!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnMGCvUHVwVvVqH7LXN2KLHG5dmP0HtMVGCQ&s"> -->

<!-- <app-home></app-home> -->
<router-outlet />
