

<a routerLink="self-help" routerLinkActive="active" style="margin-right: 50px;">SELF HELP</a>

<a routerLink="fantasy" routerLinkActive="active" style="margin-right: 50px;">FANTASY</a>

<a routerLink="fiction" routerLinkActive="active" style="margin-right: 50px;">FICTION</a>

<a routerLink="horror" routerLinkActive="active" style="margin-right: 50px;">HORROR</a>


<router-outlet></router-outlet>



<!-- <button class="btn btn-success">SELF HELP</button>
<button class="btn btn-success">FANTASY</button> -->

<!-- <div class="container">
<div class="card-body" *ngFor = "let a of authorsselfhelp">
<div class="card">
  <img [src]="a.img">
      <h5 class="card-title">{{a.author}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
</div>





  <div class="container">
    <div class="card-body" *ngFor = "let a of authorsfantasy">
    <div class="card">
      <img [src]="a.img">
          <h5 class="card-title">{{a.author}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div> -->


