.card {
    height: 400px;
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
}

.container {
    display: flex;
    margin-left: 0px;
    margin-top: 50px;
    
}

img {
    height: 200px;
    margin-top: 20px;
}